@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

/*Estilos de la barra de navegacion*/

/* nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 71px;
    background: rgba(2, 51, 109, 0.6);
    padding: 0 100px;
} */

.nav-container{
    background: rgba(2, 51, 109);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    display: flex;
    margin-left: 20px;
    padding: 10px 5px;
}

.logo-container img{
    width: 60px;
    cursor: pointer;
}

.list-nav-container{
    width: 720px;
    margin-right: 30px;
}

.list-nav-container ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.list-nav-container li{
    padding: 0 15px;
}

.list-nav-container a{
    text-decoration: none;
    color: #fff;
}

.list-nav-container a:hover{
    font-size: 17px;
    transform: scale(1);
    font-weight: 600;
}

/*Estilos del contenido principal*/
